@charset "UTF-8";

:root {
    --color-primary: #004f7e;
    --color-spotify: #1DB954;
    --color-dark: #191414;
    --color-gold: #efb810;
    --color-shadow: #1914145b;

    --font-title: 'Parisienne', cursive;
    --font-text: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-text);
    font-weight: 400;
    color: var(--color-dark);
    background-color: #fff
}

.bg-image {
    background-image: url(../assets/img/bg-min.jpg);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

.bg-mobile {
    object-fit: cover;
    object-position: 0vh 0vh;
    /* height: 110vh; */
    position: fixed;
    top: 0px;
    visibility: hidden;
}

.bg-desktop {
    object-fit: cover;
    object-position: 0vh 0vh;
    /* width: 220vh; */
    /* height: 110vh; */
    position: fixed;
    top: 0px;
}

/* .clock {
    width: 650px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
} */

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
    font-family: var(--font-title);
    font-weight: 400;
    line-height: 1.2;
}

.btn-primary {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
}

.btn-secondary {
    background-color: var(--color-primary);
    border-color: #fff;
}

.divider-custom {
    margin: 1.25rem 0 1.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divider-custom .divider-custom-line {
    width: 100%;
    max-width: 7rem;
    height: 0.06rem;
    background-color: var(--color-dark);
    border-radius: 1rem;
    border-color: var(--color-dark);
}

.divider-custom .divider-custom-line:first-child {
    margin-right: 1rem;
}

.divider-custom .divider-custom-line:last-child {
    margin-left: 1rem;
}

.divider-custom .divider-custom-icon {
    color: var(--color-dark);
    font-size: 0.55rem;
}

.divider-custom.divider-light .divider-custom-line {
    background-color: #fff;
}

.divider-custom.divider-light .divider-custom-icon {
    color: #fff;
}

.bg-blue {
    background-color: var(--color-primary);
    opacity: 0.7;
    color: #fff;
}

.box {
    /* margin-top: 5vh;
    margin-bottom: 5vh; */
    margin-left: 2vh;
    margin-right: 2vh;
    padding-top: 10vh;
    padding-bottom: 10vh;
    /* background-color: #ffffff85; */
}

.countdown {
    background-color: var(--color-primary);
    color: #fff;
    opacity: 0.8;
    border-radius: 1em;
    padding: 1.5em;
    font-weight: 800;
    -webkit-box-shadow: 14px 13px 31px -17px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 14px 13px 31px -17px rgba(0, 0, 0, 0.75);
    box-shadow: 14px 13px 31px -17px rgba(0, 0, 0, 0.75);
    text-transform: uppercase;
}

.box_alert {
    background-color: var(--color-primary);
    color: #fff;
    opacity: 0.8;
    border-radius: 1em;
    padding: 1.5em;    
    -webkit-box-shadow: 14px 13px 31px -17px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 14px 13px 31px -17px rgba(0, 0, 0, 0.75);
    box-shadow: 14px 13px 31px -17px rgba(0, 0, 0, 0.75);
    margin-top: 2vh;
}

.slide {
    background-image: linear-gradient(360deg, #fff, 30%, #ffffff00), url(../assets/img/slide-min.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    margin-top: 3em;
    padding-top: 40vh;
}

.slide2 {
    /* background-image: linear-gradient(360deg, #fff, 30%, #ffffff00), url(../assets/img/slide2-min.jpg); */
    background-image: url(../assets/img/slide2-min.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    padding-top: 30vh;
}

.bg-light {
    background-color: #fff !important;
    /* opacity: 0.2; */
}

.lightbox {
    background-color: #ffffff00;
}

.logo {
    margin-top: 5vh;
    width: 70%;
}

.super-title {
    font-size: 50pt;
    color: var(--color-gold);
    text-shadow: 2px 2px var(--color-shadow);
    margin-bottom: -20pt;
}

.sub-title {
    color: #fff;
    text-transform: uppercase;
    font-size: 15pt;
    text-anchor: 1pt;
    text-shadow: 2px 2px var(--color-shadow);

}

.sub-title2 {
    color: var(--color-gold);
    text-transform: uppercase;
    font-size: 25pt;
    text-anchor: 1pt;
    text-shadow: 2px 2px var(--color-shadow);

}

.custom-button {
    border: none;
    background: none;
    color: #fff;
    font-size: 3vh;
    transition: 0.3s;
    text-shadow: 2px 2px var(--color-shadow);
}

.custom-button:hover {
    color: var(--color-gold);
}

.name_padres {
    font-family: var(--font-title);
    font-size: 25pt;
    font-weight: 600;
    margin-bottom: -2vh;
}


.icon-wedding {
    width: 15%;
    margin-bottom: 1em;
}

.nav-item>.nav-link.active {
    background-color: var(--color-primary);
    border-radius: 2vh;
    transition: 0.2s;
}

.nav-link.active,
.nav-link.active:hover,
.nav-link.active::selection {
    color: #fff !important;
    transition: 0.2s;
}

.nav-link:hover,
.nav-link::selection {
    color: var(--color-primary) !important;

}

.clock{
    background-color: var(--color-primary);
    width: 100%;
    border-radius: 2vh;
    color: #fff;
    font-size: 50pt;
    font-weight: 600;
    padding: 1vh 1vh 1vh 1vh;
    margin: auto;
}

.clock > p{
margin-bottom: 0;
}
.text_clock{
    margin-top: 1vh;
    font-size: 12pt;
    margin-left: -4.5vh;
}
.space_clock{
    font-size: 60pt;
    font-weight: 600;
    color: var(--color-primary);
}

@media (max-width: 767px) {

    /* Estilos para dispositivos móviles */

    .clock{        
        width: unset;
        border-radius: 1vh;
        color: #fff;
        font-size: 17pt;
        font-weight: 600;
        padding: 1vh 0vh 1vh 0vh;
        margin: 0vh -1vh 0vh -1vh;
    }
    .text_clock{        
        margin-top: 1vh;
        font-size: 8pt;
        font-weight: 600;
        margin-left: 0;
    }
    .space_clock{
        font-size: 25pt;
        font-weight: 600;
        color: var(--color-primary);
    }
    .slide {
        background-image: linear-gradient(360deg, #fff, 30%, #ffffff00), url(../assets/img/slide-mobile-min.jpg);
        min-height: 100vh;
        padding-top: 45vh;
    }

    .slide2 {
        /* background-image: linear-gradient(360deg, #fff, 30%, #ffffff00), url(../assets/img/slide2-mobile-min.jpg); */
        background-image: url(../assets/img/slide2-mobile-min.jpg);
        min-height: 100vh;
        padding-top: 15vh;
    }

    .name_padres {
        font-size: 16pt;
        margin-bottom: -1vh;
    }

    .icon-wedding {
        width: 27%;
    }

    .nav-item>.nav-link.active {
        width: 60%;
        padding-left: 2vh;
    }

    .bg-mobile {
        visibility: visible;
    }

    .bg-desktop {
        visibility: hidden;
    }
}

@media (min-width: 768px) {

    /* Estilos para dispositivos de escritorio */
    .box {
        margin-left: 50vh;
        margin-right: 50vh;
        padding-top: 15vh;
        padding-bottom: 15vh;
    }

    .slide {
        min-height: 100vh;
    }

    .logo {
        width: 50%;
    }

    .bg-mobile {
        visibility: hidden;
    }

    .bg-desktop {
        visibility: visible;
    }
}